# Environment variables
.env

# Dependencies
node_modules/
.venv/
backend/.venv
env/
venv/
ENV/

# Python cache
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Database
data/*.db
backend/data/*.db

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Qdrant Database and git temp files
data/qdrant/
.gitmessage  

# Temporary Build Contexts
temp_*_build/
backend/OllamaOpt_local/
