[submodule "graphify"]
	path = graphify
	url = https://github.com/iarxii/graphify.git
[submodule "codex_spaces"]
	path = codex_spaces
	url = https://github.com/iarxii/CodexSpaces.git
[submodule "vscode-extension"]
	path = vscode-extension
	url = https://github.com/iarxii/spirit-bird-vscodex.git
[submodule "cli"]
	path = cli
	url = https://github.com/iarxii/pi_cli_aicodex.git
